body {
  font: 16px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  padding-top: 150px;
  background: linear-gradient(307deg, #e3fb25, #22cbdd, #dd2283);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 49s ease infinite;
  -moz-animation: AnimationName 49s ease infinite;
  animation: AnimationName 49s ease infinite;
  min-height: 100vh;
}

@media only screen and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    body {
        padding-left: 0;
        padding-top: 90px;
    }
}

a {
    color: white;
}

@-webkit-keyframes AnimationName {
    0%{background-position:25% 0%}
    50%{background-position:76% 100%}
    100%{background-position:25% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:25% 0%}
    50%{background-position:76% 100%}
    100%{background-position:25% 0%}
}
@keyframes AnimationName {
    0%{background-position:25% 0%}
    50%{background-position:76% 100%}
    100%{background-position:25% 0%}
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  font-weight: bold;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 44px;
  font-weight: bold;
  line-height: 70px;
  height: 70px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 70px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.square:hover {
    background-color: yellow;
}

.square:focus {
  outline: none;
}

.square-content {
    animation: stamp;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    transform: scale(1);

}

@keyframes stamp {
    0% {
        transform: scale(0.01);
        opacity: 0;
    }
    70% {
        transform: scale(1.4);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.game-info {
  margin-left: 50px;
}

.winner {
  background-color: turquoise;
}

.board {
    box-shadow: 0 4px 20px black;
    margin-bottom: 30px;
}
